In [13]:
import pandas as pd

In [14]:
sentiment_output = pd.read_excel('/Users/ngocnguyen/Downloads/output_2018.xlsx')
nasdaq_index = pd.read_csv('/Users/ngocnguyen/Desktop/CPP/Capstone/nasdaq_index.csv')

In [24]:
# Merge the datasets on "Date"
merged_df = sentiment_output.merge(nasdaq_index[["Date", "Index Price"]], on="Date", how="left")

# Reorder columns: Move "Index Price" right after "Date"
cols = ["Date", "Index Price"] + [col for col in merged_df.columns if col not in ["Date", "Index Price"]]
merged_df = merged_df[cols]

# Display first few rows
merged_df.head(10)

,Date,Index Price,True,A,AA,AAC,AACG,AADR,AAL,AAMC,...,ZS,ZSL,ZTO,ZTR,ZTS,ZU,ZUMZ,ZUO,ZX,ZYME
0,2018-01-01,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0,...,0.0,5.000000,0.0,0,0.000000,0,0.0000,0,0.0,0
1,2018-01-02,12.08,0.0,0.0,0.0,0.0,0,0,5.0,0,...,0.0,0.000000,0.0,1,5.000000,0,0.0000,0,0.0,0
2,2018-01-03,15.21,0.0,0.0,0.0,0.0,0,0,3.5,0,...,0.0,0.000000,5.0,1,0.000000,0,2.3750,0,0.0,0
3,2018-01-04,4.68,0.0,4.5,0.0,0.0,0,0,3.0,0,...,0.0,4.500000,0.0,0,0.000000,0,3.4375,0,0.0,0
4,2018-01-05,11.82,0.0,0.0,0.0,0.0,0,0,0.0,0,...,0.0,5.000000,0.0,0,0.000000,0,2.6000,0,2.0,0
5,2018-01-06,NaN,0.0,0.0,0.0,0.0,0,0,5.0,0,...,0.0,5.000000,0.0,0,0.000000,0,0.0000,0,0.0,0
6,2018-01-07,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0,...,0.0,3.666667,0.0,0,0.000000,0,0.0000,0,0.0,0
7,2018-01-08,5.04,0.0,0.0,0.0,0.0,0,0,4.5,0,...,0.0,5.000000,0.0,0,1.000000,0,2.0000,0,5.0,0
8,2018-01-09,0.14,0.0,4.0,0.0,0.0,0,0,3.4,0,...,0.0,1.000000,0.0,0,0.000000,0,5.0000,0,0.0,0
9,2018-01-10,2.68,0.0,4.5,0.0,0.0,0,0,3.0,0,...,0.0,5.000000,5.0,0,2.333333,0,4.5000,0,0.0,0

In [25]:
merged_df = merged_df.dropna(subset=["Index Price"])
merged_df.head()

,Date,Index Price,True,A,AA,AAC,AACG,AADR,AAL,AAMC,...,ZS,ZSL,ZTO,ZTR,ZTS,ZU,ZUMZ,ZUO,ZX,ZYME
1,2018-01-02,12.08,0.0,0.0,0.0,0.0,0,0,5.0,0,...,0.0,0.0,0.0,1,5.0,0,0.0000,0,0.0,0
2,2018-01-03,15.21,0.0,0.0,0.0,0.0,0,0,3.5,0,...,0.0,0.0,5.0,1,0.0,0,2.3750,0,0.0,0
3,2018-01-04,4.68,0.0,4.5,0.0,0.0,0,0,3.0,0,...,0.0,4.5,0.0,0,0.0,0,3.4375,0,0.0,0
4,2018-01-05,11.82,0.0,0.0,0.0,0.0,0,0,0.0,0,...,0.0,5.0,0.0,0,0.0,0,2.6000,0,2.0,0
7,2018-01-08,5.04,0.0,0.0,0.0,0.0,0,0,4.5,0,...,0.0,5.0,0.0,0,1.0,0,2.0000,0,5.0,0

In [26]:
merged_df.to_csv("/Users/ngocnguyen/Desktop/CPP/Capstone/merged_2018.csv", index=False)